<nav>
    <a routerLink="login">Login</a>
</nav>
<router-outlet></router-outlet>
<div class="first_view">
    <div id="image">
    <!-- <img class="image" [src]=brideImagePath alt="bride" > -->
    </div>

    <div id="login_button">
    <button class="login_button" onclick="login_view()">Login</button>
    </div>

    <div id="registration_button">
        <button class="registration_button" onclick="registration_view()">Register</button>
    </div>
</div>

<!-- <app-login [wantLogin]="openedLogin" ></app-login> -->