<div class="first_login">
    <h2>Login</h2>
    <!-- <form #loginForm="ngForm" (ngSubmit)="onClickMe(loginForm)" > -->
    <form  #f="ngForm" (ngSubmit)="onClickMe(f)">
      <div class="email_log">
          <label for="email">Email:</label>
          <input type="text" [(ngModel)]="email_of_user" name="email_of_user">  
      </div>

      <div class="password_log">
          <label for="text">Password:</label>
          <input type="text" [(ngModel)]="password" name="password">  
      </div>

        <button type="submit">Login</button>
    </form>
</div>
